{% load static %}
<!-- BEGIN .row -->
<div class="row">
    <div 
     id="custom-header" 
     class="radius-top">
        <div 
     class="header-img background-cover" 
     style="background-image: url({% static 'hinhanh/natural-default-header.jpg' %});">
            <div id="masthead">
                <div id="logo">
                    <a 
                     href="https://naturaldemo.wordpress.com/?demo" 
                     class="custom-logo-link" 
                     rel="home">
                        <img 
                     src="{% static 'banhang/natural-logo.png' %}" 
                     class="custom-logo" 
                     alt="natural logo" 
                     srcset="{% static 'hinhanh/natural-logo.png' %}?w=698&h=314 698w, {% static 'hinhanh/natural-logo.png' %}?w=150&h=68 150w, {% static 'hinhanh/natural-logo.png' %}?w=300&h=135 300w, {% static 'hinhanh/natural-logo.png' %}?w=768&h=346 768w, {% static 'hinhanh/natural-logo.png' %} 800w" 
                     sizes="(max-width: 698px) 100vw, 698px" 
                     data-attachment-id="442" 
                     data-permalink="https://naturaldemo.wordpress.com/natural-logo/" 
                     data-orig-file="{% static 'hinhanh/natural-logo.png' %}" 
                     data-orig-size="800,360" 
                     data-comments-opened="0" 
                     data-image-meta="{'aperture':'0','credit':'','camera':'','caption':'','created_timestamp':'0','copyright':'','focal_length':'0','iso':'0','shutter_speed':'0','title':'','orientation':'0'}" 
                     data-image-title="natural-logo" 
                     data-image-description="" 
                     data-medium-file="{% static 'hinhanh/natural-logo.png' %}?w=300" 
                     data-large-file="{% static 'hinhanh/natural-logo.png' %}?w=698" 
                     width="698" 
                     height="314">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- END .row -->
</div>
<!-- BEGIN .row -->
<div class="row">
    <!-- BEGIN #navigation -->
    <nav id="navigation" 
         class="navigation-main radius-bottom" role="navigation">
        <p class="menu-toggle">Menu</p>
        <div class="menu-container">
            <ul id="menu-main-menu" 
                class="menu sf-js-enabled sf-arrows">
                <li id="menu-item-466" 
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-443 current_page_item menu-item-466">
                    <a href="https://naturaldemo.wordpress.com/?demo" 
                       aria-current="page">Home
                    </a>
                </li>
                <li id="menu-item-391" 
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-391">
                    <a href="https://naturaldemo.wordpress.com/about/?demo">About
                    </a>
                </li>
                <li id="menu-item-110" 
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-110">
                    <a href="#" 
                       class="sf-with-ul">Page Templates
                    </a>
                    <ul class="sub-menu" style="display: none;">
                        <li id="menu-item-445" 
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-445">
                            <a href="https://naturaldemo.wordpress.com/portfolio/">Portfolio
                            </a>
                        </li>
                        <li id="menu-item-395" 
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-395">
                            <a href="https://naturaldemo.wordpress.com/full-width/?demo">Full Width
                            </a>
                        </li>
                        <li id="menu-item-397" 
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-397">
                            <a href="https://naturaldemo.wordpress.com/slideshow/?demo">Slideshow
                            </a>
                        </li>
                        <li id="menu-item-398" 
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-398">
                            <a href="https://naturaldemo.wordpress.com/three-column/?demo">Three Column
                            </a>
                        </li>
                        <li id="menu-item-399" 
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-399">
                            <a href="https://naturaldemo.wordpress.com/archives/?demo">Archives
                            </a>
                        </li>
                        <li id="menu-item-108" 
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-108">
                            <a href="https://naturaldemo.wordpress.com/category/category/?demo">Category</a></li>
                    </ul>
                </li>
                <li id="menu-item-531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-531"><a href="https://naturaldemo.wordpress.com/a-parent-page/?demo" class="sf-with-ul">A Parent Page</a>
                    <ul class="sub-menu" style="display: none;">
                        <li id="menu-item-532" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-532"><a href="https://naturaldemo.wordpress.com/a-parent-page/first-child/?demo">First Child</a></li>
                        <li id="menu-item-534" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-534"><a href="https://naturaldemo.wordpress.com/a-parent-page/second-child/?demo" class="sf-with-ul">Second Child</a>
                            <ul class="sub-menu" style="display: none;">
                                <li id="menu-item-535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-535"><a href="https://naturaldemo.wordpress.com/a-parent-page/second-child/a-grandchild-page/?demo">A Grandchild Page</a></li>
                                <li id="menu-item-536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-536"><a href="https://naturaldemo.wordpress.com/a-parent-page/second-child/a-spoiled-grandchild-page/?demo">A Spoiled Grandchild Page</a></li>
                                <li id="menu-item-537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-537"><a href="https://naturaldemo.wordpress.com/a-parent-page/second-child/another-grandchild-page/?demo" class="sf-with-ul">Another Grandchild Page</a>
                                    <ul class="sub-menu" style="display: none;">
                                        <li id="menu-item-538" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-538"><a href="https://naturaldemo.wordpress.com/a-parent-page/second-child/another-grandchild-page/a-wee-little-baby-page/?demo">A Wee Little Baby Page</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li id="menu-item-539" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-539"><a href="https://naturaldemo.wordpress.com/a-parent-page/third-child/?demo">Third Child</a></li>
                        <li id="menu-item-533" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-533"><a href="https://naturaldemo.wordpress.com/a-parent-page/fourth-child/?demo">Fourth Child</a></li>
                    </ul>
                </li>
                <li id="menu-item-524" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-524"><a href="#" class="sf-with-ul">Features</a>
                    <ul class="sub-menu" style="display: none;">
                        <li id="menu-item-525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-525"><a href="https://naturaldemo.wordpress.com/html-elements/?demo">HTML Elements
                            </a>
                        </li>
                        <li id="menu-item-526" 
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-526">
                            <a href="https://naturaldemo.wordpress.com/image-alignment-and-styles/?demo">Image Alignment and Styles
                            </a>
                        </li>
                        <li id="menu-item-527" 
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-527">
                            <a href="https://naturaldemo.wordpress.com/readability/?demo">Readability
                            </a>
                        </li>
                        <li id="menu-item-542" 
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-542">
                            <a href="https://naturaldemo.wordpress.com/poll/?demo">Poll
                            </a>
                        </li>
                        <li id="menu-item-348" 
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-348">
                            <a href="https://naturaldemo.wordpress.com/author/jqlee85/">Author Profile
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="menu-item-467" 
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-467">
                    <a href="https://naturaldemo.wordpress.com/blog/?demo">Blog
                    </a>
                </li>
                <li id="menu-item-394" 
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-394">
                    <a href="https://naturaldemo.wordpress.com/contact/?demo">Contact
                    </a>
                </li>
            </ul>
        </div>
        <!-- END #navigation -->
    </nav>
    <!-- END .row -->
</div>
<!-- END #header -->
