<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="vi">
    <head>
        <meta http-quiv="Content-Type" 
              content="text/html; charset=UTF-8">
        <title>
            Mai Thảo Mộc Oanh Kòi
        </title>
        <meta name="viewport"
              content="width=device-width,initial-scale=1,user-scalable=no">
        <meta name="robots"
              content="noindex,follow">
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <script type="text/javascript">
            /* <![CDATA[ */
                function addLoadEvent (func) {
                    var oldonload = window.onload;
                    if (typeof window.onload != 'function') {
                        window.onload = func;
                    } else {
                        window.onload = function () {
                            oldonload();
                            func();
                        }
                    }
                }
             /* ]]> */
        </script>
        <script type="text/javascript">
            window._wpemojiSettings = {
                "baseUrl": "https:
            }
        </script>
    </head>
    <body>
        Body web
    </body>
</html>
