{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Không tìm thấy trang</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600" />
	<link rel="stylesheet" href="{% static 'banhang/404-style.css' %}" />
</head>
<body>
	<h1>Nội dung bạn chọn không tìm thấy!</h1>
	
	<div class="message">
		<p>Hãy kiểm tra lại đường dẫn của bạn.! <a href="{% url 'banhang:trangchu' %}">Ấn vào đây</a> để quay lại trang chủ.</p>
	</div>
	
</body>
</html>
